$primary-font:'Poppins', sans-serif;
$regular-font:400;
$regular-color: #656565;
$theme-color:#6ab8ff;
$primary-bg:#6ab8ff;

/*responsive*/

$break-extralarge: 1200px;
$break-large: 1199px;
$break-medium: 991px;
$break-small:767px;

